*
{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.carousel-caption h5{
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 70%;
    background-color: rgb(0, 0, 0);
    color: #1683b9!important;
    transition: 0.1s;
}
.welcome{
    color: #efefef;
}

.navbar-brand img{
    height: 45px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #0072fd9a!important;

}
.navbar{

    background: rgba(0, 0, 0, 0.856);
}
.navbar-brand{
    color:#ffffff!important;
    font-weight: 600;
    font-size: 48px;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: rgb(248, 237, 237)!important;
    font-weight: 600;
    font-size: 16px;
}
#slider{
    width: 100%;

}

#about{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    position: relative;
}

.about-content{
    text-align: center;
    padding-top: 20px;
}

#services{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(img/coin.jpg);
    background-size :cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1 ::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#services{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 80%;
    background-color: rgb(211, 121, 128);
    color:#efefed;
    transition: 0.3s;
}
.services .col-md-3:hover{
    background: rgb(211, 121, 128);
    cursor: pointer;
    transition: 0.7s;
}
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

}
h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #ff0000;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;


}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);

}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
    
}
.profile-pic h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;

}
#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;

}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%);
    opacity: 0;

}
.img-box ul li{
    padding: 5px;
    display: inline-block;


}
.img-box:hover ul{

    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(./img/transfer.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family:sans-serif;
    font-size: 38px;
}
#price{
    padding: 40px 0;
    background: #efefed;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition:  0.5s;
}
.single-price :hover{
    box-shadow: 0 2px 20px #333;

}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;


}
.price-head{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;

}
#price span{
        font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;

}
.fa-check-circle-o{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;

}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;



}
a{
    text-decoration: none!important;
    color: #fff!important;

}
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    position: relative;
}
.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0;
    border: none;
}
::placeholder{
    color: #999;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #000000;
    font-weight: bold;
}


footer{
    text-align: center;
    height: 200px;
    color: seashell;
    background-color:rgba(0, 0, 0, 0.856);
}
.lfooter{
    margin-top: 20px;
    padding-bottom: 0%;
    height:30%;
    color: #333;
    background-color: rgb(255, 255, 255);
}